body {
  background-color: #b0e8f7;
  font-size: 23px;
}
h2 {
  color: #56d1f3;
  font-family: "Courier New", Courier, monospace;
}
.container {
  background-color: #ffffff;
  padding: 70px;
  margin: 50px 50px;
}

.inline-block {
  display: inline-block;
}
#prazo_mes,
#juro_mes,
#juros_acumuado_total {
  border: 1px solid #ccc;
  display: block;
  height: 25px;
  width: 250px;
}
/* Amortizações */
.lista {
  margin-top: 20px;
  color: #56d1f3;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: stretch;
}
.lista > div {
  margin: 6px;
  padding: 0 6px;
  text-align: center;
  border: 1px solid #ccc;
}
